{% load static %}


<html>

    <head>
        <title> Edenthought | Password reset </title>

        <meta charset="utf-8" />

        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <br>
    <div class="container p-5 my-3 bg-secondary shadow-md text-white form-layout">

        <h3> Password reset sent </h3>

        <p> We've emailed you instructions for setting
            a new password!
        </p>
    
    </div>


</html>
